
<div class="empdata">
  <div class="emptable">

    <table mat-table [dataSource]="displaydata" class="mat-elevation-z8">

      <ng-container [matColumnDef]="column" *ngFor="let column of dbcolumns">
        <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="loadupdateform(element.empid,element.name)">edit</mat-icon> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
           <mat-icon (click)="loaddeleteform(element.empid,element.name)">delete</mat-icon> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>

  <span *ngFor="let emp of empdata; let i=index">
    <button *ngIf="i==rowperpage" (click)="Navpage(1)" [ngStyle]="getstlye(1)">1</button>
    <button *ngIf="i % rowperpage==0 && i>0" (click)="Navpage((i/rowperpage)+1)"
       [ngStyle]="getstlye((i/rowperpage)+1)">{{(i/rowperpage)+1}}</button>
  </span>
  <button class="addbtn" (click)="sortbyempid()">{{sort}}</button>

  <button (click)="addnewemp()" class="addbtn">Add Employee+</button>
  <div class="editcomp" *ngIf="loadformcomp">
    <app-employeeeditpage [formdata]="renderdatainchild" [action]="action" [AllEmpData]="empdata"
      (newItemEvent)="refreshtable($event)">
    </app-employeeeditpage>
  </div>
</div>
