.header{
  width:100%;
  height:100px;
  background-color: orangered;
  position: sticky;
  color: white;
}

.headhover:hover,
a:hover
{
  color: aqua;
}
.footertext{
  position: relative;
  top:10px;
}

.heading{
  color: navajowhite;
  font-weight: bolder;
  cursor: pointer;
  background-color: orangered;
  border: none;
 }
 h1{
  cursor: pointer;
}

.footer{
  width:100%;
  background-color: orangered;
  color: white;
}

.footertext{
  position: relative;
  top:10px;
}

    @media screen and (min-width: 300px) {

      .heading{
       left:50px;
       position: relative;
       top:0px;
       font-size: 20px;
       }

      h2{
        left:60px;
        position: relative;
        top:2px;
        color: white;
        font-size: 15px;
      }
      .footer{
             font-size: small;
             height:30px;
      }

      ul li{
        list-style: none;
        display: inline;
        cursor: pointer;
      font-size: small;
      position: relative;
      bottom: 15px;


      }
      ul{
        right:30px;
        position: absolute;
        top:30px;
      }
      a{
        color: navajowhite;
        text-decoration: none;
        font-size: 15px;
        position: sticky;
        left: 2px;
      }
      }

      @media screen and (min-width: 600px) {

        .heading{
         left:50px;
         position: relative;
         top:0px;
         font-size: 30px;
         }

        h2{
          left:60px;
          position: relative;
          top:2px;
          color: white;
          font-size: 25px;
        }
        .footer{
               font-size: medium;
               height:40px;
        }

        ul li{
          list-style: none;
          display: inline;
          cursor: pointer;
        font-size: medium;
        position: relative;
        bottom: 15px;


        }
        ul{
          right:10px;
          position: absolute;
          top:32px;
        }
        a{
          color: navajowhite;
          text-decoration: none;
          font-size: 20px;
          position: sticky;
          left: 2px;
        }
        }

        @media screen and (min-width: 900px) {

          .heading{
           left:50px;
           position: relative;
           top:0px;
           font-size: 30px;
           }

          h2{
            left:150px;
            position: relative;
            top:2px;
            color: white;
            font-size: 30px;
          }
          .footer{
                 font-size: larger;
                 height:50px;
          }

          ul li{
            list-style: none;
            display: inline;
            cursor: pointer;
          font-size: small;
          position: relative;
          bottom: 15px;


          }
          ul{
            right:100px;
            position: absolute;
            top:32px;
          }
          a{
            color: navajowhite;
            text-decoration: none;
            font-size: 25px;
            position: sticky;
            left: 2px;
          }
          }




      @media screen and (min-width: 1200px) {

        .heading{
         left:50px;
         position: relative;
         top:0px;
         font-size: 40px;
         }

        h2{
          left:200px;
          position: relative;
          top:2px;
          color: white;
          font-size: 30px;
        }
        .footer{
               font-size: larger;
               height:50px;
               position: relative;
               bottom:-40px;

        }
        .footertext{
          position: relative;
          top:15px;
        }

        ul li{
          list-style: none;
          display: inline;
          cursor: pointer;
        font-size: small;
        position: relative;
        bottom: 15px;
        padding-right: 3px;


        }
        ul{
          right:100px;
          position: absolute;
          top:32px;
        }
        a{
          color: navajowhite;
          text-decoration: none;
          font-size: 25px;
          position: sticky;
          left: 2px;
          top:40px;
        }
        .icons{
          position: relative;
          top:5px;
        }
        .icons2{
          position: relative;
          top:8px;
        }
        .icons2a{
          position: relative;
          top:4px;
        }
        }



