
<div class="maindiv">


<mat-toolbar class="header">
  <button *ngIf="isloggedin" (click)="gotohome()" class="heading headhover">Employee Portal</button>
  <button *ngIf="!isloggedin" class="heading" >Employee Portal</button>
  <div *ngIf="isloggedin" >
   <h2> Welcome {{username | titlecase}} </h2>
   <ul>
     <li><mat-icon class="icons" (click)="gotohome()">home</mat-icon><a (click)="gotohome()">Home</a></li>
     <li><mat-icon class="icons2" (click)="gotologout()">room</mat-icon>
      <a class="icons2a" (click)="gotologout()">Logout </a></li>
   </ul>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer">
  <marquee class="footertext" onMouseOver="this.stop()"
  onMouseOut="this.start()">
    <label  >Developed by Gobi Krishnan Arunachalam E5631853-
      Developed by Gobi Krishnan Arunachalam E5631853-
      Developed by Gobi Krishnan Arunachalam E5631853-
      Developed by Gobi Krishnan Arunachalam E5631853-
      Developed by Gobi Krishnan Arunachalam E5631853-
      Developed by Gobi Krishnan Arunachalam E5631853

    </label>
  </marquee>

  </div>
</div>
